<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h3>You landed on Practice Page</h3>
        <div>
            <ul>
                <% for( let i =0 ; i<10 ; i++){ %>
                    <li><%= i %> </li>
                <%}%>
            </ul>
        </div>
    </body>

</html>